{% extends 'baseAuthorized.html' %}

{% block title %}Bootstrap demo{% endblock %}

{% block content %}
<div class="d-flex align-items-center gap-2 mb-4">
    <h1><a class='text-black' href="{% url 'app:index' %}">Find your question!</a></h1>
    <a href="{% url 'app:hot' %}" class="text-black">Hot questions</a>
    <a href="{% url 'app:newq' %}" class="text-success">New Questions</a>
</div>

<article class="d-flex gap-3 flex-column">
    {% for question in questions %}
    <div class="card" style="background-color: #F5F5DC">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div style="height: 100px;" class="border mb-2 w-100">
                        <img src="#" alt="img" class="img-fluid">
                    </div>
                    <div>
                        <input type="number" class="form-control" value="{{ question.rating }}" style="background-color: #F5F5DC" readonly>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">{{ question.title }}</h5>
                        <p class="card-text">{{ question.text }}</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class='text-black' href="{% url 'app:question' question_id=question.id %}">
                                Answers ({{ question.get_answers_count }})
                            </a>
                        </div>
                        <div class="col text-end">
                            <span>Tags:</span>
                            {% for tag in question.tags.all %}
                            <span class="badge rounded-pill text-bg-primary">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% include 'paginator.html' %}
</article>
{% endblock %}