{% extends 'baseAuthorized.html' %}
{% load static %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
<article class="d-flex gap-3 flex-column">
    <div class="card" style="background-color: #F5F5DC">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div style="height: 100px;" class="border mb-2 w-100">
                        <img src="{% if question.author.profile.avatar %}{{ question.author.profile.avatar.url }}{% else %}{% static 'img/default-avatar.jpg' %}{% endif %}"
                             alt="User avatar" class="img-fluid h-100 w-100 object-fit-cover">
                    </div>
                    <div>
                        <input type="number" class="form-control" style="background-color: #F5F5DC" value="{{ question.rating }}">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">{{ question.title }}</h5>
                        <p class="card-text">{{ question.text }}</p>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <span>Tags:</span>
                            {% for tag in question.tags.all %}
                            <a href="{% url 'app:tag' tag_name=tag.name %}" class="badge rounded-pill text-bg-primary text-decoration-none">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-success" style="height: 4px; margin: 1rem 0;"></div>
    {% for answer in answers %}
    <div id="answer-{{ answer.id }}" class="card mb-3">
        <div class="card card-body py-2" style="background-color: #F5F5DC">
            <div class="row">
                <div class="col-1">
                    <div style="height: 60px;" class="border mb-1 w-100">
                        <img src="{% if answer.author.profile.avatar %}{{ answer.author.profile.avatar.url }}{% else %}{% static 'img/default-avatar.jpg' %}{% endif %}"
                             alt="User avatar" class="img-fluid h-100 w-100 object-fit-cover">
                    </div>
                    <div>
                        <input type="number" class="form-control" style="background-color: #F5F5DC" value="{{ answer.rating }}">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div>
                        <p class="card-text">{{ answer.text }}</p>
                    </div>
                    <div class="text-start">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="correctCheck{{ forloop.counter }}"
                                   {% if answer.is_correct %}checked{% endif %}>
                            <label class="form-check-label" for="correctCheck{{ forloop.counter }}">Correct!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row mb-3">
        <div class="col">
            <form method="post" action="{% url 'app:add_answer' question_id=question.id %}">
                {% csrf_token %}

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-3">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

                <textarea class="form-control mb-2" name="text" rows="5"
                          style="background-color: #F5F5DC" placeholder="Enter your answer here" required></textarea>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Answer</button>
                    <a href="{% url 'app:index' %}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    {% include 'paginator.html' %}
</article>
{% endblock %}
