{% extends 'baseAuthorized.html' %}
{% load static %}

{% block title %}Ask a Question{% endblock %}

{% block content %}
<div class="text-center mb-4">
    <h1>Create a question!</h1>
</div>

<article class="d-flex gap-3 flex-column">
    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
        <div class="row mb-3">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="alert alert-danger mb-3" role="alert">
                    Please correct the errors below.
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row mb-3">
            <label for="id_title" class="col-sm-1 col-form-label">Title</label>
            <div class="col-sm-10">
                {{ form.title }}
                <div class="form-text">max 150 symbols</div>
                {% if form.title.errors %}
                <div class="text-danger">{{ form.title.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row mb-3">
            <label for="id_text" class="col-sm-1 col-form-label">Text</label>
            <div class="col-sm-10">
                {{ form.text }}
                <div class="form-text">max 999 symbols</div>
                {% if form.text.errors %}
                <div class="text-danger">{{ form.text.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row mb-3">
            <label for="id_tags" class="col-sm-1 col-form-label">Tags</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="tags" id="id_tags"
                       maxlength="150" style="background-color: #F5F5DC"
                       placeholder="moon, park, puzzle">
                <div class="form-text">Enter tags separated by commas, max 150 symbols</div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-1">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Ask</button>
                    <a href="{% url 'app:index' %}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</article>
{% endblock %}
