{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="{% url 'app:index' %}">ITForum</a>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a href="{% url 'app:ask' %}" class="btn btn-outline-light">Ask</a>
            </form>

            <div class="d-flex gap-2 align-items-center">
                <div>
                    <img src="{% static 'img/hello.jpg' %}" class="img-thumbnail" alt="img">
                </div>
                <div class="content">
                    <div class="content__name text-white">Dr. Musk</div>
                    <div class="content__links">
                        <a href="{% url 'app:usersettings' %}" class="text-white">Settings</a>
                        <span class="text-white mx-2 small">|</span>
                        <a href="{% url 'app:login' %}" class="text-white">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-2">
        <div class="row">
            <section class="col vh-100">
                <div class="text-center mb-4">
                    <h1>Create a question!</h1>
                </div>

                <article class="d-flex gap-3 flex-column">
                    <form>
                        <div class="row mb-3">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="alert alert-danger mb-3" role="alert">
                                    Some items are empty!
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="questionTitle" class="col-sm-1 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="questionTitle" style="background-color: #F5F5DC" maxlength="150" placeholder="How to build a moon park?">
                                <div class="form-text">max 150 symbols</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="questionText" class="col-sm-1 col-form-label">Text</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="questionText" rows="5" style="background-color: #F5F5DC" maxlength='999' placeholder="Really, how? Have no idea about it"></textarea>
                                <div class="form-text">max 999 symbols</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="questionTags" class="col-sm-1 col-form-label">Tags</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="questionTags" maxlength="150" style="background-color: #F5F5DC" placeholder="moon, park, puzzle">
                                <div class="form-text">Enter tags separated by commas, max 150 symbols</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-1">
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'app:index' %}" class="btn btn-success">Answer</a>
                                    <a href="{% url 'app:index' %}" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </article>
            </section>

            <aside class="col-3">
                <section class="card shadow-sm mb-3">
                    <div class="card-body">
                        <h3 class="h5 fw-bold mb-3">Popular Tags</h3>
                        <div class="d-flex flex-wrap gap-2">
                            {% for tag in popular_tags %}
                            <a href="{% url 'app:tag' tag_name='Python' %}" class="badge bg-primary text-decoration-none">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <section class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="h5 fw-bold mb-3">Best Members</h3>
                        <div class="list-group list-group-flush">
                            {% for member in best_members %}
                            <a href="#" class="list-group-item list-group-item-action">{{ member.username }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </main>
    <footer class="bg-success text-white py-3 mt-4">
        <div class="container">
            <div class="text-center">
                <p class="mb-0">ITForum - get an answer to your question!</p>
            </div>
        </div>
    </footer>
    <script src="static/js/bootstrap.bundle.js"></script>
</body>

</html>