{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ITForum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">ITForum</a>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a href="{% url 'app:ask' %}" class="btn btn-outline-light">Ask</a>
            </form>

            <div class="d-flex gap-2 align-items-center">
                <div>
                    <img src="{% static 'img/hello.jpg' %}" class="img-thumbnail" alt="img">
                </div>
                <div class="content">
                    <div class="content__name text-white">Dr. Musk</div>
                    <div class="content__links">
                        <a href="{% url 'app:usersettings' %}" class="text-white">Settings</a>
                        <span class="text-white mx-2 small">|</span>
                        <a href="{% url 'app:login' %}" class="text-white">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-2">
        <div class="row">
            <section class="col">
                <div class="d-flex align-items-center gap-2 mb-4">
                    <h1>New Questions</h1>
                    <a href="{% url 'app:index' %}" class="text-black">Hot questions</a>
                </div>

                <article class="d-flex gap-3 flex-column">
                    {% for question in questions %}
                    <div class="card" style="background-color: #F5F5DC">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div style="height: 100px;" class="border mb-2 w-100">
                                        <img src="{% static 'img/default-avatar.jpg' %}" alt="img" class="img-fluid">
                                    </div>
                                    <div>
                                        <input type="number" class="form-control" value="{{ question.rating }}" style="background-color: #F5F5DC">
                                    </div>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">{{ question.title }}</h5>
                                        <p class="card-text">{{ question.text }}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                                <a class='text-black' href="{% url 'app:question' question_id=1 %}">Answers ({{ question.answers_count }})</a>
                                        </div>
                                        <div class="col text-end">
                                            <span>Tags:</span>
                                            {% for tag in question.tags %}
                                            <span class="badge rounded-pill text-bg-primary">{{ tag }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link text-black" style="background-color: #F5F5DC" href="?page={{ page.previous_page_number }}">Previous</a>
                            </li>
                            {% endif %}

                            {% for num in page.paginator.page_range %}
                                {% if page.number == num %}
                                <li class="page-item active">
                                    <span class="page-link" style="background-color: #28a745; border-color: #28a745">{{ num }}</span>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link text-black" style="background-color: #F5F5DC" href="?page={{ num }}">{{ num }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}

                            {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link text-black" style="background-color: #F5F5DC" href="?page={{ page.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </article>
            </section>

            <aside class="col-3">
                <section class="card shadow-sm mb-3">
                    <div class="card-body">
                        <h3 class="h5 fw-bold mb-3">Popular Tags</h3>
                        <div class="d-flex flex-wrap gap-2">
                            {% for tag in popular_tags %}
                            <a href="{% url 'app:tag' tag_name='Python' %}" class="badge bg-primary text-decoration-none">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <section class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="h5 fw-bold mb-3">Best Members</h3>
                        <div class="list-group list-group-flush">
                            {% for member in best_members %}
                            <a href="#" class="list-group-item list-group-item-action">{{ member.username }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </main>

    <footer class="bg-success text-white py-4 mt-4">
        <div class="container">
            <div class="text-center">
                ITForum - get an answer to your question!
            </div>
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>