{% extends 'baseUnAuthorized.html' %}

{% block title %}Bootstrap demo{% endblock %}

{% block content %}
<div class="card mb-4" style="background-color: #F5F5DC">
    <div class="card-body">
        <h1 class="h2 mb-4">Log In</h1>

        <div class="alert alert-danger mb-4" role="alert">
            Sorry, wrong password!
        </div>

        <form>
            <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" id="login" maxlength="25" placeholder="Enter your login here" style="background-color: #F5F5DC">
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" maxlength="25" placeholder="**********" style="background-color: #F5F5DC">
            </div>

            <div class="d-grid mb-3">
                <a href="{% url 'app:index' %}" class="btn btn-success">Login</a>
            </div>

            <div class="text-center">
                <a href="{% url 'app:signup' %}" class="text-decoration-none">New here? Create an account!</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}